
.design-archives {
	position: absolute;
	top: 160px;
	right: 0;
	width: 100%;
	height: 70px;
	background: rgba(255,255,255,0.2);
	h3 {
		display: none;
	}
	ul {
		margin: 0;
	}
	li {
		position: absolute;
		top: 0;
		padding: 0;
		margin: 0;
		border: none;
		list-style: none;
	}
	li.viewall {
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 71px;
		line-height: 50px;
	}
	a {
		color: rgba(255, 255, 255, 0.65);
		&:visited {
			color: rgba(255, 255, 255, 0.65);
		}
		&:hover {
			color: #fff;
			&::before {
				background-color: rgba(255,255,255,0.25);
				box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			}
		}
		&:focus {
			color: #fff;
			&::before {
				background-color: rgba(255,255,255,0.25);
				box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			}
		}
		&::before {
			position: absolute;
			left: 0;
			width: 70px;
			height: 70px;
			text-align: center;
			text-indent: 0;
			font-size: 44px;
			font-family: 'verdemoderna';
			speak: none;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 70px;
			-webkit-font-smoothing: antialiased;
		}
		&:active {
			&::before {
				background-color: rgba(255,255,255,0.25);
				box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			}
		}
	}
	.previous {
		a {
			display: block;
			overflow: hidden;
			width: 70px;
			height: 70px;
			text-indent: 100%;
			text-decoration: none;
			white-space: nowrap;
			&::before {
				content: "<";
			}
		}
	}
	.next {
		a {
			display: block;
			overflow: hidden;
			width: 70px;
			height: 70px;
			text-indent: 100%;
			text-decoration: none;
			white-space: nowrap;
			&::before {
				content: ">";
			}
		}
	}
	.viewall {
		a {
			z-index: 2;
			width: 100%;
			min-height: 70px;
			padding: 12px 0 0 0;
			text-align: center;
			&:hover {
				background-color: rgba(255,255,255,0.25);
				box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			}
			&:focus {
				background-color: rgba(255,255,255,0.25);
				box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			}
			&:active {
				background-color: rgba(255,255,255,0.25);
				box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			}
		}
	}
}


@media only screen and (max-width: 500px) {
	.design-archives {
		top: 180px;
	}
}

@media only screen and (min-width: 1132px) {
	.design-archives {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 310px;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 66%, rgba(0,0,0,0.2) 66%, rgba(33,84,95,0.3) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(66%,rgba(255,255,255,0)), color-stop(66%,rgba(33,84,95,0.3)), color-stop(100%,rgba(33,84,95,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 66%,rgba(33,84,95,0.3) 66%,rgba(33,84,95,0) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 66%,rgba(33,84,95,0.3) 66%,rgba(33,84,95,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 66%,rgba(33,84,95,0.3) 66%,rgba(33,84,95,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 66%,rgba(33,84,95,0.3) 66%,rgba(33,84,95,0) 100%);
		nav {
			display: block;
			position: absolute;
			right: 1%;
			top: 120px;
			width: 32%;
		}
		li {
			margin: 0;
		}
		.viewall {
			a {
				background: rgba(255,255,255,0.1);
				text-decoration: none;
				&:hover {
					background-color: rgba(255,255,255,0.2);
				}
			}
		}
		a {
			&::before {
				background: rgba(255,255,255,0.1);
				text-decoration: none;
			}
			&:hover {
				&::before {
					background-color: rgba(255,255,255,0.2);
				}
			}
		}
	}
}

@media (min--moz-device-pixel-ratio: 1.5) {
	.design-archives {
		nav {
			right: 3%;
			width: 29%;
		}
	}
}
@media (min-device-pixel-ratio: 1.5) {
	.design-archives {
		nav {
			right: 3%;
			width: 29%;
		}
	}
}
@media (min-resolution: 1.5dppx) {
	.design-archives {
		nav {
			right: 3%;
			width: 29%;
		}
	}
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	.design-archives {
		nav {
			right: 3%;
			width: 29%;
		}
	}
}
@media (-o-min-device-pixel-ratio: 3 / 2) {
	.design-archives {
		nav {
			right: 3%;
			width: 29%;
		}
	}
}