div.participation {
	background-attachment: scroll, scroll, fixed;
	background-color: $color__div-bc;
	//  TODO:: replace it with dynamic background 
	background-image: $url__div-bc;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	padding: 3em 0;
	margin-top: 3em;
	h3 {
		margin-top: 0;
	}
	p {
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 1132px) {
	div.participation, div.benefits {
		width: 100%;
		padding-left: 10%;
		padding-right: 38%;
		margin: 0;
	}
    .participation {
		h1,h2,h3,h4,h5,h6 {
			margin: 2em 0 0 0;
			color: #2e484c;
			font-family: 'Julius Sans One', sans-serif;
			font-size: 1.8em;
			font-weight: normal;
			text-transform: uppercase;
		}
        h3 {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
}