
.sidebar {
	background: #edf4f0;
	h3 {
		display: none;
	}
	a {
		color: #607476;
		text-decoration: none;
		&:hover {
			color: #49968e;
		}
		&:focus {
			color: #49968e;
		}
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: hidden;
	}
}
@media only screen and (min-width: 1132px) {
	.design-selection,.zen-resources
	{
		li {
			float: none;
			width: auto;
			padding-left: 0;
			padding-right: 0;
			margin: 0 29.4% 0 14.7%;
		}
	}
	// 
	.zen-resources ul {
		width: 55.9%;
		margin: 0 29.4% 0 14.7%;
	}
	.zen-resources li {
		padding: 1.5em 0 1.25em 0;
		margin: 0;
	}
}