.page-wrapper 
{
	position: relative;
}
@media only screen and (max-width: 600px) {
	h1 {
		margin-top: 30px;
		font-size: 2.5em;
		&::before {
			width: 50px;
			height: 50px;
		}
	}
	h2 {
		&::before {
			padding: 25px;
		}
	}
}
@media only screen and (max-width: 500px) {
	h1 {
		margin: 0;
		&::before {
			display: block;
			left: 50%;
			width: 50px;
			height: 50px;
			margin: 0 0 0 -25px;
			padding: 0 0 35px 0;
		}
	}
	h2 {
		&::before {
			padding: 0;
		}
	}
}
@media only screen and (max-width: 320px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.3em;
	}
}
@media only screen and (max-width: 1132px) {
	p {
		font-size: 1.2em;
	}
	li {
		font-size: 1.2em;
	}
}
@media only screen and (min-width: 1132px) {
	body {
		background: #ffffff;
		background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 66%, #e5ede8 66%, #e5ede8 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(66%,#ffffff), color-stop(66%,#e5ede8), color-stop(100%,#e5ede8));
		background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
		background: -o-linear-gradient(left, #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
		background: -ms-linear-gradient(left, #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
		background: linear-gradient(to right, #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
		font-size: 100%;
	}
	h1 {
		display: inline-block;
		position: relative;
		margin: 15px 0 0 0;
		padding: 60px 0 5px 0;
		&::before {
			display: inline-block;
			position: relative;
			top: 65px;
			content: "";
			width: 125px;
			height: 125px;
			margin: -65px 40px 0 0;
			background: url(images/enso.svg);
			background-size: 100%;
			opacity: 0.6;
			-webkit-animation: koan 36000s infinite alternate;
			-moz-animation: koan 36000s infinite alternate;
			animation: koan 36000s infinite alternate;
		}
	}
	h2 {
		display: block;
		margin: 0;
		padding: 5px 0 60px 70px;
	}
	p {
		font-size: 1em;
	}
}