a {
	color: $color__link;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus {
		color: #0599c2;
		text-decoration: underline;
	}
}
  
h1, h2 
{
	padding: 0 10%;
	margin: 0;
	color: $color__head1;
	font-weight: normal;
}

h1 
{
	padding-top: 0;
	padding-bottom: 5px;
	border-bottom: none;
	font-family: $font__secondary;
	font-size: 3.2em;
	text-transform: uppercase;

	
	&::before {
		display: inline-block;
		position: relative;
		top: 20px;
		content: "";
		width: 80px;
		height: 80px;
		margin: -20px 20px 0 0;
		//  TODO:: replace it with dynamic background 
		background: url(images/enso.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		opacity: 0.6;
	}
}
 
h2 
{
	display: block;
	padding-top: 5px;
	padding-bottom: 30px;
	border-top: none;
	color: $color__head2;
	font-size: 1.6em;
	font-style: italic;
	&::before 
	{
		content: " ";
		padding: 50px;
    }
}

h3 
{
	margin: 2em 0 0 0;
	color: $color__head3; 
	font-family: $font__secondary;
	font-size: 1.8em;
	font-weight: normal;
	text-transform: uppercase;
}

p 
{
	margin: 0.75em 0;
	line-height: 2;
}