// stylelint-disable value-keyword-case
$font__main: 'Libre Baskerville', sans-serif;
// stylelint-enable value-keyword-case
$font__src: "http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic";

$font__size: 70%;
